<div class="p-4 bg-gray-100 border">
  <div class="w-full border border-red-400">
    <div class="justify-between text-center text-indigo-800 sm:flex">
      <p scope="col" class="my-2 sm:w-1/3">Name</p>
      <p scope="col " class="my-2 sm:w-1/3">Description</p>
      <p scope="col" class="my-2 sm:w-1/3">Operations</p>
    </div>
    <div class="w-full my-4 text-gray-800">
      <div *ngFor="let blog of blogs$ | async" class="flex justify-between text-center">
        <p  class="my-2 sm:w-1/3">{{ blog.title }}</p>
        <p  class="my-2 sm:w-1/3"> {{ blog.description }}</p>
        <div  class="my-2 sm:w-1/3">
          <button (click)="showUpdateForm(blog)" class="p-2 text-white bg-teal-800 rounded-md" >Update</button>
          <button (click)="deleteBlog(blog.id)" class="p-2 text-white bg-red-500 rounded-md">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isUpdateActivated" style="margin-top: 50px; margin-left: 50px;">
    <h4>Update Course</h4>
    <form (ngSubmit)="updateBlog(updateForm)" #updateForm="ngForm">
      <div class="form-group">
        <label for="name">Course Name</label>
        <input type="text" id="name" name="name" class="form-control" required [(ngModel)]="blogToBeUpdated.title"
          style="width: 400px" />
      </div>
      <div class="form-group">
        <label for="side">Description</label>
        <input type="text" id="description" name="description" class="form-control" required
          [(ngModel)]="blogToBeUpdated.description" style="width: 400px" />
      </div>
      <button [disabled]="updateForm.invalid" class="btn btn-primary" type="submit">Update</button>
    </form>
  </div>
</div>