<div>
  <div>
      <div class="justify-between p-4 shadow sm:flex ">
        <div>
          <button class="p-2 m-2 text-white bg-green-500 rounded shadow">
            <a class="nav-link" routerLink="blogs" routerLinkActive="active">List Blogs</a>
          </button>
          <button class="p-2 m-2 text-white bg-blue-500 rounded shadow">
              <a class="nav-link" routerLink="create-blog" routerLinkActive="active">Create Blog</a>
            </button>
        </div>
        <div>
          <button class="p-2 m-2 text-white bg-green-500 rounded shadow">
            <a class="nav-link" routerLink="auth/login" routerLinkActive="active">Log in</a>
          </button>
          <button class="p-2 m-2 text-white bg-blue-500 rounded shadow">
              <a class="nav-link"  routerLink="auth/signup" routerLinkActive="active">Sign up</a>
            </button>
        </div>
      </div>
  </div>

  <div class="p-2 my-2">
      <router-outlet></router-outlet>
  </div>

</div>
