<div>
  <div>
      <ul class="justify-between p-4 shadow sm:flex ">
        <li class="p-2 my-2 text-white bg-green-500 rounded shadow">
          <a class="nav-link" routerLink="blogs" routerLinkActive="active">List Blogs</a>
        </li>
        <li class="p-2 my-2 text-white bg-blue-500 rounded shadow">
            <a class="nav-link" routerLink="create-blogs" routerLinkActive="active">Create Blog</a>
          </li>
      </ul>
  </div>

  <div class="p-2 my-2">
      <router-outlet></router-outlet>
  </div>

</div>
